.dash-cont{
    width: 50%;
}
.dash-link{
    color: black;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: black;
    text-decoration-thickness: 3px;
}
.dash-link:hover{
    color: black;
}
.dash-center{
    text-align: center;
}
.img-dash{
    border-radius: 5px;
    border: 1px solid #a3a3c2;
    padding: 3px;
}

@media only screen and (max-width: 480px){
    .dash-cont{
        width: 100%;
    }
}

@media (min-width: 600px) and (max-width: 1024px){
    .dash-cont{
        width: 80%;
    }

}