.row-one-words{
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
}
/*.row-one-img{*/
/*    padding: 20px;*/
/*}*/
.height-row{
    height: 80%;
}
.img-style{
    padding-left: 180px;
    padding-top: 60px;
    max-height: 700px;
    max-width: 700px;

}
.wrapper-col{
    /*margin-top: 100px;*/
    /*margin-left: 150px;*/
    margin: auto;
    border-style: solid;
    border-color: #ffffff;
    box-sizing: border-box;
    max-height: 400px;
    max-width: 300px;
}
.words-col-wrapper{
    box-sizing: border-box;
    margin: auto;
    border-style: solid;
    border-color: #ffffff;
    max-height: 800px;
    max-width: 400px;
}
.h2-title{
    padding-top: 100px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.row-2-words{
    padding-top: 40px;
    font-size: 20px;
    text-align: center;
    padding-bottom: 30px;
}
.row-margin{
    margin-bottom: 70px;
}
.style-img{
    width: 100%;
}
.butt-style{
    background: #ffffff;
    border: 2px solid black;
    color: black;
    display: block;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    width: 180px;
    border-radius: 25px;
    margin: auto;
}
.butt-style:hover{
    background-color: #3E3F45;
    color: #ffffff;
}
/*.words-col-wrapper a{*/
/*    text-decoration: none;*/
/*    color: black;*/
/*    border-color: black;*/
/*    border-width: 2px;*/
/*    padding: 20px 10px;*/
/*    border-radius: 2px;*/

/*}*/
@media only screen and (max-width: 480px){
    .img-style{
        padding-left: 20px;
        padding-top: 10px;
        max-height: 400px;
        max-width: 400px;
    }
    .row-one-words{
        padding-top: 10px;
        font-size: 30px;
    }
    .wrapper-col{
        margin: auto;
        max-width: 200px;
        max-height: 400px;
        /*border-color: #ff4c85;*/
    }
    .row-2-words{
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .row-margin{
        margin-bottom: 10px;
    }
    .h2-title{
        padding-top: 20px;
    }
    .style-img{
        padding-top: 20px;
    }
}