
#blue{
    color: #0040D0;
}

.base-home{
    font-family: 'Nanum Gothic', sans-serif;
}
.navbar {
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 2px 2px 2px #A1A1A1;
    padding: 20px;
}
.navbar-light .navbar-nav .nav-link{
    color: black;
}
