.img-text-container{
    position: relative;
    text-align: center;
    height: 100%;
    width: 100%;
}
.text-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #e6e6e6;
    font-size: 70px;
    font-weight: bold;
}
.iframe-wrapper{
    padding-top: 100px;
    text-align: center;
}
.many-imgs{
    padding-top: 100px;
    margin-left: 400px;
    margin-right: 400px;
}
/*.img-center{*/
/*    margin: auto;*/
/*}*/
.center-this{
    text-align: center;
}
.word-wrap{
    text-align: center;
    box-sizing: border-box;
    border-top: solid 2px #e6e6e6;
    border-bottom: solid 2px #e6e6e6;
    max-width: 250px;
    max-height: 300px;
    padding: 10px;

}

.word-wrap2{
    /*margin-top: 10px;*/
    box-sizing: border-box;
    border-top: solid 2px #e6e6e6;
    border-bottom: solid 2px #e6e6e6;
    padding: 10px;
    max-width: 60%;
    margin: auto;
    overflow: hidden;

    /*position: absolute;*/
    /*max-width: 300px;*/
}

.last-content-box{
    display: inline-block;
}
.rotate-up{
    transform: rotate(250deg);
}
.tree-img{
    margin-left: -60px;
}
.rotate-up-side{
    transform: rotate(180deg);
}
.rotate-down-side{
    transform: rotate(120deg);
    overflow: hidden;
    /*margin-left: -30px;*/
}
.handmaid-img{
    padding-top: 20px;
}
.buttons-at-end{
    margin-top: 30px;
    box-sizing: border-box;
    border-top: solid 2px #e6e6e6;
    border-bottom: solid 2px #e6e6e6;
    padding: 30px;
    gap: 30px;
}
.buttons-end{
    background: #ffffff;
    border: 1px solid black;
    color: black;
    padding: 0.5em;
    text-align: center;
    /*padding: 12px 6px;*/
    text-decoration: none;
    width: 150px;
    border-radius: 25px;
}
.buttons-end:hover{
    background-color: #3E3F45;
    color: #b3e6ff;
}
.community-wrap{
    margin-left: 500px;
    margin-right: 500px;
    /*margin: auto;*/
}
.community-text{
    font-weight: bold;
    padding-bottom: 40px;
}
.round-this{
    border-radius: 50%;
    border: 1px solid #a3a3c2;
    /*box-shadow: 2px 2px 2px #a3a3c2;*/
    padding: 5px;
    /*padding-top: 40px;*/
}
.margin-plus{
    padding-top: 100px;
}
.workforces{
    padding-top: 10px;
    font-weight: bold;
}
.word-box{
    box-sizing: border-box;
    margin: auto;
    border-style: solid;
    border-color: #ffffff;
    /*max-height: 800px;*/
    height: auto;
    max-width: 400px;
}
.increase-font{
    font-weight: bold;
    font-size: 30px;
}
.cuteimg-container{
    width: 120px;
    height: 120px;
}
.cuteimg-container img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 1px solid #a3a3c2;
    padding: 5px;
}
.cute-imgs{
    gap: 5px;
}

@media only screen and (max-width: 480px){
    .text-img{
        font-size: 30px;
    }
    .iframe-wrapper{
        padding-top: 20px;
    }
    .iframe-container1{
       position: relative;
       width: 100%;
       padding-bottom: 56.25%;
       height: 0;
    }
    .iframe-container1 iframe{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .many-imgs{
        margin-left: 10px;
        margin-right: 10px;
    }
    .tree-img{
        margin-left: auto;
    }
    .img-extend{
        height: 300px;
    }
    .rotate-up-side{
        transform: rotate(200deg);
    }
    .rotate-down-side{
        transform: rotate(90deg);
        overflow: hidden;
    }
    .community-wrap{
        margin: auto;
        /*margin-left: 10px;*/
        /*margin-right: 10px;*/
    }
    .margin-plus{
        padding-top: 40px;
        font-size: 5vmin;
    }
    .increase-font{
        font-size: 20px;
    }
}

@media (min-width: 600px) and (max-width: 1024px){
    .text-img{
        font-size: 50px;
    }
    .iframe-wrapper{
        padding-top: 40px;
    }
    .iframe-container1{
       position: relative;
       width: 100%;
       padding-bottom: 56.25%;
       height: 0;
    }
    .iframe-container1 iframe{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .many-imgs{
        margin-left: 10px;
        margin-right: 10px;
    }
    .tree-img{
        margin-left: auto;
    }
    .rotate-down-side{
        transform: rotate(100deg);
        overflow: hidden;

    }
    .community-wrap{
        margin: auto;
        /*margin-left: 10px;*/
        /*margin-right: 10px;*/
    }
}