.container-margins{
    width: 50%;
}
#content{
    padding-top: 40px;
}
.article-display{
    border-style: solid;
    border-color: #A1A1A1;
    border-width: 1px;
}
.ul-style{
    list-style-type: none;
}
.li-style{
    margin-bottom: 25px;
}
.img-resize{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.row{
    height: auto;
}
.entry-title a{
    color: black;
    text-decoration: none;
}
.post-info{
    display: flex;
    width: 300px;
    padding-top: 10px;
}
.post-info:before{
    font-family: "FontAwesome";
    content: "\f007";
    font-weight: 900;
    padding-right: 10px ;
    font-size: 30px;
}
.author-url{
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: black;
    text-decoration-thickness: 3px;
    color: black;

}
.entry-content{
    padding-right: 10px;
}
.published{
    color: gray;
}

@media only screen and (max-width: 480px){
    .container-margins{
        width: 100%;
    }

    .entry-title {
        font-size: 20px;
    }
    .col-6{
        padding-left: 1px;
    }
    .post-info address{
        font-size: 12px;
    }
    .post-wrap{
        padding-left: 20px;
    }

}
@media (min-width: 600px) and (max-width: 1024px){
    .container-margins{
        width: 100%;
    }
    .post-wrap{
        padding-left: 20px;
    }
}


