.try{
    color: darkred;
}
.article-display{
    border-style: solid;
    border-color: #85adad;
    border-width: 1px;
}
.ul-style{
    list-style-type: none;
}
.li-style{
    margin-bottom: 25px;
}
.img-resize{
    width: 100%;
    height: 400px;
}
.row{
    height: 400px;
}
.entry-title a{
    color: black;
}