.bck-light-color{
    background-color: #b3ecff;
}
.sarafu-box{
    padding-top: 40px;
    max-width: 400px;
    margin: auto;
    height: auto;
}
.sarafu-title{
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 20px;
}
.sarafu-p{
    font-size: 18px;
}
.center-content{
    text-align: center;
}
.img-pad-custom{
    padding-top: 60px;
}
.bck-dark-color{
    background-color: #001a4d ;
}
.white-font{
    color: white;
    padding-top: 40px;
}
.sarafu-img{
    padding-bottom: 10px;
}
.sarafu-container{
    width: 50%;
    padding-top: 40px;
}
.padd-top{
    padding-top: 30px;
}
.saf-link-style{
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: black;
    text-decoration-thickness: 3px;
    color: black;
}
.saf-width{
    margin: auto;
    max-width: 400px;
}
.last-img{
    padding-top: 40px;
    padding-bottom: 40px;
}
.saf-img-style{
    border: 1px solid #A1A1A1;
    padding: 3px;
    border-radius: 20px;
}
.saf-line-span{
    color: #A1A1A1;
}

@media only screen and (max-width: 480px){
    .img-pad-custom{
        padding-top: 40px;
    }
    .white-font{
        padding-top: 20px;
    }
    .sarafu-container{
        width: 100%;
    }
}
@media (min-width: 600px) and (max-width: 1024px){
    .sarafu-container{
        width: 100%;
    }
}