.article-container{
    width: 50%;
}

#article-content{
    border-style: solid;
    border-color: #85adad;
    border-width: 1px;
    padding: 60px;
    margin-top: 40px;
}
#article-content img{
    width:100%;
    padding: 20px ;
}
#article-content iframe{
    width:100%;
    padding: 20px ;
}
.article-entry-title a{
    color: black;
    text-decoration: none;
}
.vcard-author a{
    color: gray;
}
.tags{
    gap: 5px;
}
.tags a{
    text-decoration: none;
    background-color: #ffffff;
    color: black;
    padding: 5px 10px 5px 10px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}
.tags a:hover{
    background-color: gray;
    color: #ffffff;
}
.article-entry-content a{
    color: black;
    text-decoration: underline;
}
@media only screen and (max-width: 480px){
    .article-container{
        width: 100%;
    }
}
@media (min-width: 600px) and (max-width: 1024px){
    .article-container{
        width: 80%;
    }
}