.container-contact{
    width: 50%
}
.contact-center{
    text-align: center;
}
.contact-link{
    color: black;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: black;
    text-decoration-thickness: 3px;
}
.contact-wrap{
    width: 250px;
    margin: auto;
}
.btn-custom{
    width: 100%;
    background: #141f1f;
    border: 1px solid #141f1f;
    color: white;
    padding: 0.5em;
    text-align: center;
}
.btn-custom:hover{
    color: white;
}

@media only screen and (max-width: 480px){
    .container-contact{
        width: 100%
    }

}

@media (min-width: 600px) and (max-width: 1024px){
    .container-contact{
        width: 80%
    }


}