.mooc-container{
    width: 50%
}
.mooc-center{
    text-align: center;
}
.join-title{
    font-weight: bold;
}
.in-font{
    font-size: 20px;
}
.m-button{
    background: #ffffff;
    border: 1px solid black;
    color: black;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    width: 200px;
    border-radius: 25px;
}
.m-button:hover{
    background-color: #3E3F45;
    color: #b3e6ff;
}
.mooc-gap{
    gap: 10px;
}
.mooclink{
    color: black;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: black;
    text-decoration-thickness: 3px;
}

@media only screen and (max-width: 480px){
    .mooc-container{
        width: 100%
    }
}
@media (min-width: 600px) and (max-width: 1024px){
    .mooc-container{
        width: 80%
    }
}