
.base-home{
    font-family: 'Nanum Gothic', sans-serif;
}
.navbar {
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 2px 2px 2px #A1A1A1;
    padding: 20px;
}
.navbar-light .navbar-nav .nav-link{
    color: black;
}
.base-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    flex-wrap: wrap;
    gap: 5px;
}
#terms-conditions{
    color: #3E3F45;
    padding-left: 40px;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}
#terms-conditions:hover{
    text-decoration: underline;
}
.row {
    --bs-gutter-x: 0;
}