{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{SITEURL}}/theme/css/about-us.css">

{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="box-wrap">
                <h2 class="box-title">About Us</h2>
                <p class="box-words">Grassroots Economics is a non-profit foundation that seeks to empower marginalized communities to take charge of their own livelihoods and economic future. We focus on community development through economic empowerment, basic income and community currency programs. Beneficiaries of our programs include small businesses and people living in informal settlements as well as rural areas.</p>
                <p class="box-words">Our goal is to improve the lives of those who are most vulnerable. </p>
                <div class="inline-buttons">
                    <a class="a-button" href="{{SITEURL}}/pages/sarafu-network.html">Sarafu network</a>
                    <a class="a-button" href="#">History</a>
                    <a class="a-button" href="#">Team</a>
                    <a class="a-button" href="#">Sponsors</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <img src="{{SITEURL}}/theme/images/aboutus-imgs/aboutus-img1.webp" class="img-fluid">
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="box-wrap">
                <p class="box-words1">Our work builds on a rich history of community programs in Africa. We have implemented community currency programs in 45 locations across Kenya and assisted with 2 in South Africa and helped more than 40,000 small businesses, churches and schools take an active role in their own economy and development. We are currently developing programs all over Kenya and providing technical support for those outside Kenya.</p>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <h2 class="box-title1">HISTORY</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-3">

        </div>
        <div class="col-3">

        </div>
        <div class="col-3">

        </div>
        <div class="col-3">

        </div>
    </div>
</div>

{% endblock %}