{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ article.title|striptags }}{% endblock %}

{% block head %}
  {{ super() }}
  <!-- Social Meta Tags -->
  <meta name="description" content="{{ article.description }}">
  
  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ SITENAME }} - {{article.title}}">
  <meta property="og:description" content="{{article.summary|striptags}}">
  <meta property="og:image" content="https://grassrootseconomics.org/images/blog/{{ article.slug}}1.webp">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="{{ SITEURL}}/images/blog/{{ article.slug}}1.webp">
  <meta property="twitter:domain" content="grassrootseconomics.org">
  <meta property="twitter:url" content="{{ SITEURL }}/{{ article.url }}">
  <meta name="twitter:title" content="{{ SITENAME }} - {{article.title}}">
  <meta name="twitter:description" content="{{article.summary|striptags}}">
  <meta name="twitter:image" content="https://grassrootseconomics.org/images/blog/{{ article.slug}}1.webp">
  <!-- End Social Meta Tags -->


  <link rel="stylesheet" type="text/css" href="{{SITEURL}}/theme/css/article-styles.css">
  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(article) %}
    {{ translations.entry_hreflang(article) }}
  {% endif %}

  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content %}
<div class="container article-container">
<section id="article-content">
  <header>
    <h2 class="article-entry-title">
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
         title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
    </h2>
  </header>
  <footer class="post-info">
    <time class="published" datetime="{{ article.date.isoformat() }}">
      {{ article.locale_date }}
    </time>
    {% if article.modified %}
    <time class="modified" datetime="{{ article.modified.isoformat() }}">
      {{ article.locale_modified }}
    </time>
    {% endif %}
    {% if article.authors %}
    <address class="vcard-author">
      By {% for author in article.authors %}
          <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
        {% endfor %}
    </address>
    {% endif %}
<!--    {% if article.category %}-->
<!--    <div class="category">-->
<!--        Category: <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>-->
<!--    </div>-->
<!--    {% endif %}-->
    {% if article.tags %}
    <div class=" d-flex flex-wrap tags">
        {% for tag in article.tags %}
            <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
        {% endfor %}
    </div>
    {% endif %}
  </footer><br>
  <!-- /.post-info -->
  <div class="article-entry-content">
    {{ article.content }}
  </div>
</section>
</div>
{% endblock %}
