{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{SITEURL}}/theme/css/contactpage.css">
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block content %}
<div class="container container-contact pb-5">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 pt-5">
            <h1 class="contact-center contact-padding">Get in touch</h1>
            <div class="contact-center contact-wrap pt-3">
                <p>We would love to hear your feedback about our work, queries and your story!</p>
<!--                <p>WhatsApp / Phone number: +254-757-628-885</p>-->
<!--                <p><a class="contact-link" href="https://chat.grassrootseconomics.net/cic/channels/town-square">Join our-->
<!--                    chat server!</a></p>-->
<!--                <p><a class="contact-link" href="https://discord.gg/ud32KMgH76">Join us-->
<!--                    on discord!</a></p>-->
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 back-color">
<!--            <div class="back-color">-->
                <div class="row pt-5">
                    <div class="col-6 pt-5 contact-center">
                        <img src="{{SITEURL}}/theme/images/contact-imgs/email2.png">
                    </div>
                    <div class="col-6 pt-5">
                        <p class="pt-2">info@grassecon.org</p>
                    </div>
                </div>

                <div class="row pt-5">
                    <div class="col-6 contact-center">
                        <img src="{{SITEURL}}/theme/images/contact-imgs/icons8-phone-64.png">
                    </div>
                    <div class="col-6">
                        <p class="pt-2">Whatsaap/call</p>
                        <p>+254-757-628-885</p>
                    </div>
                </div>
                <div class="row pt-5">
                    <div class="col-6 contact-center">
                        <img src="{{SITEURL}}/theme/images/contact-imgs/discordnew.png">
                    </div>
                    <div class="col-6">
                        <p class="pt-2"><a class="contact-link" href="https://discord.gg/ud32KMgH76">Join us
                    on discord!</a></p>
                    </div>
                </div>
                <div class="row pt-5">
                    <div class="col-6 contact-center">
                        <img src="{{SITEURL}}/theme/images/contact-imgs/servernew.png">
                    </div>
                    <div class="col-6">
                         <p class="pt-2"><a class="contact-link" href="https://chat.grassrootseconomics.net/cic/channels/town-square">Join our
                    chat server!</a></p>
                    </div>
                </div>
            </div>
<!--            <form class="pt-5" action="https://getform.io/f/a6936429-16b0-403b-b368-f2303e4dfef3" method="post">-->

<!--                <div class="mb-3">-->
<!--                    <label for="email" class="form-label">Email address</label>-->
<!--                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>-->
<!--                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>-->
<!--                </div>-->
<!--                <div class="mb-3">-->
<!--                    <label for="name-contact" class="form-label">Name</label>-->
<!--                    <input type="text" class="form-control" id="name-contact" name="name" required>-->
<!--                </div>-->
<!--                <div class="mb-3">-->
<!--                    <label for="subject" class="form-label">Subject</label>-->
<!--                    <input type="text" class="form-control" id="subject" name="subject" required>-->
<!--                </div>-->
<!--                <div class="mb-3">-->
<!--                    <label for="exampleFormControlTextarea1" class="form-label">Message</label>-->
<!--                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="message" required></textarea>-->
<!--                </div>-->
<!--                <div class="g-recaptcha pb-3" data-sitekey="6Lc8T2odAAAAAIp2gSwZSsnwo77C8uPYKd6A3uD7"></div>-->
<!--                <button type="submit" class="btn btn-custom btn-block">Send us a message!</button>-->
<!--            </form>-->
        </div>
    </div>
</div>
<hr class="cont-line">

{% endblock %}