{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{SITEURL}}/theme/css/contactpage.css">
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block content %}
<div class="container container-contact pb-5">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 ">
            <div class="contact-padding">
                <h1 class="contact-center ">Get in touch</h1>
            </div>

            <div class="contact-center contact-wrap pt-3">
                <p>We would love to hear your feedback about our work, queries and your story!</p>

            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 back-color">
<!--            <div class="back-color">-->
                <div class="row pt-5">
                    <div class="col-6 pt-5 contact-center">
                        <img src="{{SITEURL}}/theme/images/contact-imgs/email2.png">
                    </div>
                    <div class="col-6 pt-5">
                        <p class="pt-2">info@grassecon.org</p>
                    </div>
                </div>

                <div class="row pt-5">
                    <div class="col-6 contact-center">
                        <img src="{{SITEURL}}/theme/images/contact-imgs/icons8-phone-64.png">
                    </div>
                    <div class="col-6">
                        <p class="pt-2">Whatsaap/call</p>
                        <p>+254-757-628-885</p>
                    </div>
                </div>
                <div class="row pt-5">
                    <div class="col-6 contact-center">
                        <img src="{{SITEURL}}/theme/images/contact-imgs/discordnew.png">
                    </div>
                    <div class="col-6">
                        <p class="pt-2"><a class="contact-link" href="https://discord.gg/ud32KMgH76">Join us
                    on discord!</a></p>
                    </div>
                </div>
                <div class="row pt-5">
                    <div class="col-6 contact-center">
                        <img src="{{SITEURL}}/theme/images/contact-imgs/servernew.png">
                    </div>
                    <div class="col-6">
                         <p class="pt-2"><a class="contact-link" href="https://chat.grassrootseconomics.net/cic/channels/town-square">Join our
                    chat server!</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<hr class="cont-line">

{% endblock %}