{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{SITEURL}}/theme/css/home-styles.css">

{% endblock %}

{% block content %}
<div class="container-fluid overflow-hidden">
    <div class="row row-margin h-80">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <img src="{{SITEURL}}/theme/images/home-imgs/home-img1.gif" class=" img-fluid img-style" alt="img-gif" >
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="wrapper-col">
                <p class="row-one-words">Prospering economies built by thriving communities</p>
                <img class="img-fluid mx-auto d-block row-one-img" src="{{SITEURL}}/theme/images/home-imgs/home-logo.webp">
            </div>
        </div>
    </div>
    <div class="row row-margin">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="words-col-wrapper">
                <h2 class="h2-title">Ending poverty lies in building communities</h2>
                <p class="row-2-words">Through Community Inclusion Currencies people have a way to exchange goods and services and incubate projects and businesses, without relying on scarce national currency and volatile markets.</p>
                <a href="{{SITEURL}}/pages/how-it-works.html" class="butt-style">How it works</a>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <img class="img-fluid style-img" src="{{SITEURL}}/theme/images/home-imgs/home-img2.webp">
        </div>
    </div>
    <div class="row row-margin">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <img class="img-fluid style-img" src="{{SITEURL}}/theme/images/home-imgs/home-img3.webp">
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="words-col-wrapper">
                <h2 class="h2-title">We envision prospering economies built by thriving communities</h2>
                <p class="row-2-words">Grassroots Economics is a non-profit foundation that has been seeking to empower marginalized communities to take charge of their own livelihoods and economic future since 2010.</p>
                <a href="{{SITEURL}}/pages/about-us.html" class="butt-style">About us</a>
            </div>
        </div>
    </div>
    <div class="row row-margin">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="words-col-wrapper">
                <h2 class="h2-title">Get involved</h2>
                <p class="row-2-words">Communities should be afforded the same privileges as nations and be empowered to develop their own prospering economies with the stability of their own currencies.</p>
                <a href="{{SITEURL}}/pages/get-involved.html" class="butt-style">Support us</a>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-md-12">
            <img class="img-fluid style-img" src="{{SITEURL}}/theme/images/home-imgs/home-img4.webp">
        </div>
    </div>
</div>
{% endblock %}