{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{SITEURL}}/theme/css/home-styles.css">

{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row height-row">
        <div class="col-6">
            <img src="{{SITEURL}}/theme/images/home-imgs/home-img1.gif" class="img-fluid" alt="img-gif" >
        </div>
        <div class="col-6 px-5">
            <div class="wrapper-col">
                <p class="row-one-words">Prospering economies built by thriving communities</p>
                <img class="img-fluid mx-auto d-block row-one-img" src="{{SITEURL}}/theme/images/home-imgs/home-logo.webp">
            </div>
        </div>
    </div>
</div>
{% endblock %}