{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{SITEURL}}/theme/css/howitworks.css">

{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="img-text-container">
        <img class="img-fluid" src="{{SITEURL}}/theme/images/howitworks-imgs/howit-img1.webp">
        <h1 class="text-img">Community Inclusion Currencies</h1>
    </div>

    <div class="iframe-wrapper">
        <div class="iframe-container1">
            <iframe width="911" height="515" src="https://www.youtube.com/embed/vJL9-FFleow" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

<!--    <div class="d-flex many-imgs">-->
<!--&lt;!&ndash;        <div class="flex-column">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="flex-lg-shrink-0 flex-md-shrink-0 flex-sm-shrink-1">&ndash;&gt;-->
<!--                <img class="img-fluid" src="{{SITEURL}}/theme/images/howitworks-imgs/manyimgs1resized.gif">-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--            <div class="flex-lg-grow-1 flex-md-grow-1 flex-sm-grow-0">-->
<!--                <p class="text1-beside">Community Inclusion Currencies are regional means of exchange that supplements the national currency system. See Sarafu Network as an example.</p>-->
<!--            </div>-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--            <div class="align-self-end">-->
<!--                <div class="arrow-container">-->
<!--                    <img class="img-fluid" src="{{SITEURL}}/theme/images/howitworks-imgs/manyimgs-2.webp">-->
<!--                </div>-->
<!--            </div>-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--    </div>-->
    <div class="many-imgs">
        <div class="row">
            <div class="col-6">
                <img class="img-fluid" src="{{SITEURL}}/theme/images/howitworks-imgs/manyimgs1resized.gif">
            </div>
            <div class="col-6">
                <p class="text-beside1">Community Inclusion Currencies are regional means of exchange that supplements the national currency system. See Sarafu Network as an example.</p><br>
                <div class="arrow-container">
                   <img class="img-fluid" src="{{SITEURL}}/theme/images/howitworks-imgs/manyimgs-2.webp"></div>
                </div>
        </div>
    </div>


</div>

{% endblock %}