{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{SITEURL}}/theme/css/howitworks.css">

{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="img-text-container">
        <img class="img-fluid" src="{{SITEURL}}/theme/images/howitworks-imgs/howit-img1.webp">
        <h1 class="text-img">Commitment Pooling and Community Asset Vouchers</h1>
    </div>

    <div class="iframe-wrapper">
      <div class="iframe-container1">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/P5WZavo468g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>

    <div class="many-imgs">
        <div class="row">
            <div class="col-6">
                <img class="img-fluid img-extend" src="{{SITEURL}}/theme/images/howitworks-imgs/manyimgs1resized.gif">
            </div>
            <div class="col-6 mt-auto">
                <p class="text-beside1 word-wrap">Community Asset Vouchers (CAVs) are formalized commitments that individuals, businesses and communities can make for their goods and services. When pooled together they can also act as regional means of exchange and supplement gaps in the national currency system. See other CAVs and create your own for free on <a href="https://sarafu.network">Sarafu-Network</a>.</p><br>
                <div class=" arrow-container">
                    <div class="bottom">
                        <img class="img-fluid" src="{{SITEURL}}/theme/images/howitworks-imgs/manyimgs-2.webp"></div>
                    </div>
                </div>
        </div>
        <div class="row d-inline-flex flex-row-reverse">
<!--            first item is left most item on the page order has been reversed with flex-row-reverse-->
            <div class="col-6">
                <div class="center-this">
                    <img class="img-fluid handmaid-img" src="{{SITEURL}}/theme/images/howitworks-imgs/manyimgs-3.webp">

                        <p class="word-wrap2" >Due to economic instability, people often lack money with which to purchase from each other</p>

                </div>
            </div>
            <div class="col-6">
                    <img class="img-fluid rotate-up" src="{{SITEURL}}/theme/images/howitworks-imgs/manyimgs-2.webp">
                        <img class="img-fluid tree-img" src="{{SITEURL}}/theme/images/howitworks-imgs/manyimgs-8.webp">
                    <p class="word-wrap2">Thriving communities build their own prospering economies</p>
            </div>
        </div>
        <div class="row d-flex ">
            <div class="col-6 center-this">
                <img class="img-fluid rotate-up-side" src="{{SITEURL}}/theme/images/howitworks-imgs/manyimgs-2.webp">
            </div>

            <div class="col-6 ">
                <img class="img-fluid rotate-down-side" src="{{SITEURL}}/theme/images/howitworks-imgs/manyimgs-2.webp">
            </div>
        </div>
        <div class="row">
            <div class="col-12 center-this">
                <div class="last-content-box">
                    <img class="img-fluid" src="{{SITEURL}}/theme/images/howitworks-imgs/manyimgs-5.webp">
                    <p class="word-wrap">Commitment Pools, seeded with national currencies and Community Asset Vouchers create a stable medium of exchange tied to local products</p>
                </div>
            </div>
        </div>
        <div class=" d-flex buttons-at-end justify-content-center">
            <a class="buttons-end" href="{{SITEURL}}/pages/research.html">Impacts & Research</a>
        </div>
    </div>
    <div class="image-span-over">
        <img class="img-fluid img-full" src="{{SITEURL}}/theme/images/howitworks-imgs/cic-training1.webp">
    </div>
    <div class="community-wrap">
        <div class="center-this">
            <h2 class="community-text">Community and Organizational issued Vouchers connect ... </h2>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="center-this">
                    <img class="img-fluid round-this" src="{{SITEURL}}/theme/images/howitworks-imgs/round-img1.webp">
                    <p class="workforces">Underutilized workforces</p>
                </div>
            </div>
            <div class="col-4">
                <div class="center-this">
                    <i class="fas fa-plus fa-5x margin-plus"></i>
                </div>
            </div>
            <div class="col-4">
                <div class="center-this">
                    <img class="img-fluid round-this" src="{{SITEURL}}/theme/images/howitworks-imgs/round-img2.webp">
                    <p class="workforces">Underutilized resources</p>
                </div>
            </div>
        </div>
        <div class="center-this">
            <div class="word-box">
                <p class="increase-font">.. in Commitment Pools as local markets that guarantee the provision of basic needs and a medium of exchange</p>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="cuteimg-container">
                <img class="img-fluid cute-imgs" src="{{SITEURL}}/theme/images/howitworks-imgs/cartimg.gif">
            </div>
            <div class="cuteimg-container">
                <img class="img-fluid cute-imgs" src="{{SITEURL}}/theme/images/howitworks-imgs/house-img.gif">
            </div>
            <div class="cuteimg-container">
                <img class="img-fluid cute-imgs" src="{{SITEURL}}/theme/images/howitworks-imgs/foodimg.gif">
            </div>
        </div>
    </div>
    <div class="image-span-over">
        <img class="img-fluid img-full" src="{{SITEURL}}/theme/images/howitworks-imgs/bangla-pesa-launch1.webp">
    </div>
    <div class="long-drawings-wrap">
        <div class="row justify-content-center">
            <div class="col-4">
<!--                <div class="img-cont">-->
                <img class="img-fluid img-small-media" src="{{SITEURL}}/theme/images/howitworks-imgs/drawing1.webp">
<!--                </div>-->
            </div>
            <div class="col-4">
                <p class="text-img-font center-this">Investments and donations provide seed funding and liquidity to develop Commitment Pools for local industries and infrastructure</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 center-this">
                <img class="img-fluid rotate-torch" src="{{SITEURL}}/theme/images/howitworks-imgs/long-torch.gif">
            </div>
            <div class="col-4">
                <div class="font-box">
                    <p class="diff-font center-this">These community groups, business networks and industries issue Community Asset Vouchers which enter circualtion as interest-free credit access to Commitment Pools with community services funds and payments for operational costs</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
                 <img class="img-fluid img-extend" src="{{SITEURL}}/theme/images/howitworks-imgs/manyimgs1resized.gif">
            </div>
            <div class="col-4">
                    <p class="text-img-font center-this trade-padding">Community Asset Vouchers withing Commitment Pools accelerate trade and provide funding for social and environmental services</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 center-this">
                <img class="img-fluid rotate-torch" src="{{SITEURL}}/theme/images/howitworks-imgs/long-torch.gif">
            </div>
            <div class="col-4">
                <div class="font-box">
                    <p class="diff-font center-this">Commitment Pools provide markets and incubate local industries </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 center-this">
                <img class="img-fluid" src="{{SITEURL}}/theme/images/howitworks-imgs/home-on-globe.webp">
            </div>
            <div class="col-4">
                <div class="font-box">
                    <p class="text-img-font center-this mature-padding">These mature industries provide...</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="font-box">
                    <p class="social-text">Social and financial return in liqudity investments</p>
                </div>
            </div>
            <div class="col-3 center-this">
                <img class=" short-torch " src="{{SITEURL}}/theme/images/howitworks-imgs/short-torch.gif">
            </div>
            <div class="col-3">
                <div class="font-box">
                    <p class="social-text">Social enterprise development</p>
                </div>
            </div>
        </div>
        <div class=" d-flex justify-content-end click-to-learn">
            <div class="link-box">
                <a class="click-style" href="https://www.youtube.com/playlist?list=PLPUExzwZAUpbHaJU7TIku7vpZ6q_yggQZ">Click here to learn more about how to use Sarafu.Network</a>
            </div>
        </div>
    </div>
    <div class="image-span-over">
        <img class="img-fluid img-full" src="{{SITEURL}}/theme/images/howitworks-imgs/empowering-mothers1.webp">
    </div>
    <div class="huge-font">
        <div class="huge-font-box">
            <h1 class="huge-font-style">Through our work starting in Kenya we've seen:</h1>
        </div>
    </div>
    <div class="percentages">
        <div class="row">
            <div class="col ">
                <div class="col1-color col-padding-util">
                    <p class="percent-font center-this">77%</p>
                    <div class="percent-below-box">
                        <p class="percent-words center-this">Increase in trust</p>
                        <img class="img-fluid" src="{{SITEURL}}/theme/images/howitworks-imgs/col1-img.webp">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="col2-color col-padding-util">
                   <p class="percent-font center-this">347%</p>
                   <div class="percent-below-box">
                       <p class="percent-words center-this">Increase in gifting</p>
                       <img class="img-fluid" src="{{SITEURL}}/theme/images/howitworks-imgs/col2-imgs-removebg-preview.png">
                   </div>
                </div>
            </div>
            <div class="col">
                <div class="col1-color col-padding-util">
                    <p class="percent-font center-this">57%</p>
                   <div class="percent-below-box">
                       <p class="percent-words center-this">Increase in environmental activities</p>
                       <img class="img-fluid" src="{{SITEURL}}/theme/images/howitworks-imgs/leafimg-removebg-preview.png">
                   </div>
                </div>
            </div>
            <div class="col">
                <div class="col2-color col-padding-util">
                    <p class="percent-font center-this">23%</p>
                   <div class="percent-below-box">
                       <p class="percent-words center-this">Increase in school attendance</p>
                       <img class="img-fluid" src="{{SITEURL}}/theme/images/howitworks-imgs/books-carton-removebg-preview.png">
                   </div>
                </div>
            </div>
            <div class="col">
                <div class="col1-color col-padding-util">
                    <p class="percent-font center-this">25%</p>
                   <div class="percent-below-box">
                       <p class="percent-words center-this">Decrease in crime and corruption</p>
                       <img class="img-fluid" src="{{SITEURL}}/theme/images/howitworks-imgs/angel2-removebg-preview.png">
                   </div>
                </div>
            </div>
        </div>
        <div class="more-percentages">
            <div class="d-flex">
                <div class="circle-container">
                    <img class="img-fluid abs-img" src="{{SITEURL}}/theme/images/howitworks-imgs/17percent.webp">
                    <p class="text-middle">+17%</p>
                    <div class="words-below-wrap">
                        <p class="words-below center-this">Jobs created</p>
                    </div>
                </div>
                <div class="circle-container">
                    <img class="img-fluid abs-img" src="{{SITEURL}}/theme/images/howitworks-imgs/37percent.webp">
                    <p class="text-middle">+37%</p>
                    <div class="words-below-wrap">
                        <p class="words-below center-this">Sales revenue</p>
                    </div>
                </div>
                <div class="circle-container">
                    <img class="img-fluid abs-img" src="{{SITEURL}}/theme/images/howitworks-imgs/78percent.webp">
                    <p class="text-middle">+78%</p>
                    <div class="words-below-wrap">
                        <p class="words-below center-this">Food Security</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="last-link-wrap style-center">
            <a class="last-link-style" href="{{SITEURl}}/pages/research.html">Click here to learn more about our research</a>
        </div>
    </div>
    <div class="container container-cic">
        <p class="center-this cic-title">As a socio-economic development tool Community Asset Vouchers offers an innovative way to improve living standards</p>
        <div class="row">
            <div class="col">
                <img class="cic-img-round" src="{{SITEURL}}/theme/images/howitworks-imgs/cic-img1.webp">
                <p>lack of money</p>
            </div>
            <div class="col">
                <img class="cic-img-round" src="{{SITEURL}}/theme/images/howitworks-imgs/cic-img2.webp">
                <p>market instability</p>
            </div>
            <div class="col">
                <img class="cic-img-round" src="{{SITEURL}}/theme/images/howitworks-imgs/cic-img3.webp">
                <p>lack of investment</p>
            </div>
            <div class="col">
                <img class="cic-img-round" src="{{SITEURL}}/theme/images/howitworks-imgs/cic-img4.webp">
                <p>excess capital</p>
            </div>
            <div class="col">
                <img class="cic-img-round" src="{{SITEURL}}/theme/images/howitworks-imgs/cic-img5.webp">
                <p>lack of local industries</p>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <img class="img-fluid" src="{{SITEURL}}/theme/images/howitworks-imgs/arrow-down1.png">
        </div>
        <div class="row">
            <div class="col">
                <img class="cic-img-round" src="{{SITEURL}}/theme/images/howitworks-imgs/cic-img6.webp">
                <p>interest-free credit</p>
            </div>
            <div class="col">
                <img class="cic-img-round" src="{{SITEURL}}/theme/images/howitworks-imgs/cic-img7.webp">
                <p>market stability</p>
            </div>
            <div class="col">
                <img class="cic-img-round" src="{{SITEURL}}/theme/images/howitworks-imgs/cic-img8.webp">
                <p>increase in local trade</p>
            </div>
            <div class="col">
                <img class="cic-img-round" src="{{SITEURL}}/theme/images/howitworks-imgs/cic-img9.webp">
                <p>build trust and social services</p>
            </div>
            <div class="col">
                <img class="cic-img-round" src="{{SITEURL}}/theme/images/howitworks-imgs/cic-img11.webp">
                <p>increase in jobs & development</p>
            </div>
        </div>
        <div class="going-to-scale center-this">
          <h2 class="scale-text">Going to scale</h2>
	  <p>See how Community Asset Vouchers are being made globaly and create your own on <a href="https://sarafu.network/vouchers">Sarafu-Network</a>. Finally create your own pool to connect different vouchers as well as national currencies together!</p>
        </div>
    </div>
    <hr class="line-span">

    <div class="box-center box-center-padding">
        <p class="font-increase center-this">This is just the beginning!</p>
        <p class="font-increase center-this">Community Asset Vouchers via Commitment Pooling are creating a world wide <a href="https://viz.sarafu.network">trust network</a>.</p>
    </div>

    <hr class="line-span">


</div>

{% endblock %}
