{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{SITEURL}}/theme/css/howitworks.css">

{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="img-text-container">
        <img class="img-fluid" src="{{SITEURL}}/theme/images/howitworks-imgs/howit-img1.webp">
        <h1 class="text-img">Community Inclusion Currencies</h1>
    </div>

    <div class="iframe-wrapper">
        <div class="iframe-container1">
            <iframe width="911" height="515" src="https://www.youtube.com/embed/vJL9-FFleow" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

    <div class="many-imgs">
        <div class="row">
            <div class="col-6">
                <img class="img-fluid img-extend" src="{{SITEURL}}/theme/images/howitworks-imgs/manyimgs1resized.gif">
            </div>
            <div class="col-6 mt-auto">
                <p class="text-beside1 word-wrap">Community Inclusion Currencies are regional means of exchange that supplements the national currency system. See Sarafu Network as an example.</p><br>
                <div class=" arrow-container">
                    <div class="bottom">
                        <img class="img-fluid" src="{{SITEURL}}/theme/images/howitworks-imgs/manyimgs-2.webp"></div>
                    </div>
                </div>
        </div>
        <div class="row d-inline-flex flex-row-reverse">
<!--            first item is left most item on the page order has been reversed with flex-row-reverse-->
            <div class="col-6">
                <div class="center-this">
                    <img class="img-fluid handmaid-img" src="{{SITEURL}}/theme/images/howitworks-imgs/manyimgs-3.webp">

                        <p class="word-wrap2" >Due to economic instability, people often lack money with which to purchase from each other</p>

                </div>
            </div>
            <div class="col-6">
                    <img class="img-fluid rotate-up" src="{{SITEURL}}/theme/images/howitworks-imgs/manyimgs-2.webp">
                        <img class="img-fluid tree-img" src="{{SITEURL}}/theme/images/howitworks-imgs/manyimgs-8.webp">
                    <p class="word-wrap2">Thriving  communities build their own prospering economies</p>
            </div>
        </div>
        <div class="row d-flex ">
            <div class="col-6 center-this">
                <img class="img-fluid rotate-up-side" src="{{SITEURL}}/theme/images/howitworks-imgs/manyimgs-2.webp">
            </div>

            <div class="col-6 ">
                <img class="img-fluid rotate-down-side" src="{{SITEURL}}/theme/images/howitworks-imgs/manyimgs-2.webp">
            </div>
        </div>
        <div class="row">
            <div class="col-12 center-this">
                <div class="last-content-box">
                    <img class="img-fluid" src="{{SITEURL}}/theme/images/howitworks-imgs/manyimgs-5.webp">
                    <p class="word-wrap">Community currencies create a stable medium of exchange tied to local development</p>
                </div>
            </div>
        </div>
    </div>


</div>

{% endblock %}