{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{SITEURL}}/theme/css/index-styles.css">
{% endblock %}

{% block content %}
<section id="content">
{% block content_title %}
<!--<h2 class="try">All articles</h2>-->
{% endblock %}

<ul class="ul-style" id="post-list">
{% for article in articles_page.object_list %}
        <li class="li-style"><article class="article-display">
            <div class="row">
                <div class="col-6">
                    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"><img class="img-resize" src="{{ SITEURL}}/images/blog/{{ article.slug}}1.webp"/></a>
                </div>

                <div class="col-6">
                    <div class="post-info">
                        <address class="vcard-author">By
                        {% for author in article.authors %}
                            <a class="author-url" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a><br>
                        {% endfor %}
                            <time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
                        </address>
                    </div>
                    <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
                    <div class="entry-content"> {{ article.summary }} </div><!-- /.entry-content -->
                    <div class="article-display-footer">
                    </div>
                </div>
            </div>
        </article></li>
{% endfor %}
</ul><!-- /#posts-list -->
{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}
</section><!-- /#content -->
{% endblock content %}