{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{SITEURL}}/theme/css/mediacss.css">
{% endblock %}

{% block content %}
<div class="container cont-reduce">
    <h1 class="media-title media-center">Explore more resources!</h1>
    <h3 class="news-title pt-5">News Articles</h3>
    <div class="row pt-5">
        <div class="col-4">
            <img class="img-fluid" src="{{SITEURL}}/theme/images/media-img/International Monetary Fund Logo.webp">
        </div>
        <div class="col-8">
            <p class="bfont">2021</p>
            <p class="bfont"><a class="media-link" href="https://www.imf.org/external/pubs/ft/fandd/2021/03/technological-innovation-fueling-community-currencies-adriano.htm">New Old Idea - Technological innovation is fueling the resurgence of community currencies</a></p>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-4">
            <img class="img-fluid" src="{{SITEURL}}/theme/images/media-img/red-cross.webp">
        </div>
        <div class="col-8">
            <p class="bfont">2021</p>
            <p class="bfont"><a class="media-link" href="https://1fce7114-8e4a-43c5-bcbd-d2b877364fde.filesusr.com/ugd/ce30dd_2239bbeb21614827a3d400376ab31a21.pdf">Red Cross Press Release - Basic Income</a></p>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-4">
            <img class="img-fluid" src="{{SITEURL}}/theme/images/media-img/RNZ_logo-NEG-500.webp">
        </div>
        <div class="col-8">
            <p class="bfont">2021</p>
            <p class="bfont"><a class="media-link" href="https://www.rnz.co.nz/news/world/434867/virtual-currency-helps-kenya-slum-dwellers-battle-covid-19-downturn">Virtual currency helps Kenya slum dwellers battle Covid-19 downturn</a></p>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-4">
            <img class="img-fluid" src="{{SITEURL}}/theme/images/media-img/voa.webp">
        </div>
        <div class="col-8">
            <p class="bfont">2020</p>
            <p class="bfont"><a class="media-link" href="https://www.voanews.com/africa/kenyans-turn-community-initiative-currency-stay-afloat">Kenyans Turn to Community Initiative Currency to Stay Afloat</a></p>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-4">
            <img class="img-fluid" src="{{SITEURL}}/theme/images/media-img/Shado-logo-01.webp">
        </div>
        <div class="col-8">
            <p class="bfont">2020</p>
            <p class="bfont"><a class="media-link" href="https://shado-mag.com/all/capitalism-in-crisis-alternative-currencies-during-covid-19/">Capitalism in Crisis: Alternative Currencies during COVID-19</a></p>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-4">
            <img class="img-fluid" src="{{SITEURL}}/theme/images/media-img/cityAM.webp">
        </div>
        <div class="col-8">
            <p class="bfont">2020</p>
            <p class="bfont"><a class="media-link" href="https://www.cityam.com/empowering-communities-with-alternative-currencies-towards-a-post-covid-economy/">Empowering communities with alternative currencies towards a post-Covid economy</a></p>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-4">
            <img class="img-fluid" src="{{SITEURL}}/theme/images/media-img/forbes-logo.webp">
        </div>
        <div class="col-8">
            <p class="bfont">2019</p>
            <p class="bfont"><a class="media-link" href="https://www.forbes.com/sites/darrynpollock/2019/11/28/red-cross-implements-crypto-to-boost-disaster-prone-communities/?sh=29a553aa48e2">Red Cross Implements Crypto To Boost Disaster-Prone Communities</a></p>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-4">
            <img class="img-fluid" src="{{SITEURL}}/theme/images/media-img/thomson reuters.webp">
        </div>
        <div class="col-8">
            <p class="bfont">2019</p>
            <p class="bfont"><a class="media-link" href="https://news.trust.org/item/20191126123058-xtxvz/">Red Cross boosts disaster-prone communities with blockchain 'cash'</a></p>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-4">
            <img class="img-fluid" src="{{SITEURL}}/theme/images/media-img/Newsweek-logo-1986.webp">
        </div>
        <div class="col-8">
            <p class="bfont">2019</p>
            <p class="bfont"><a class="media-link" href="https://www.newsweek.com/2019/03/08/blockchain-impact-award-winner-grassroots-economics-foundation-kenya-1339353.html">Introducing Blockchain Impact Award Winner Grassroots Economics Foundation</a></p>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-4">
            <img class="img-fluid" src="{{SITEURL}}/theme/images/media-img/bloomberg.webp">
        </div>
        <div class="col-8">
            <p class="bfont">2018</p>
            <p class="bfont"><a class="media-link" href="https://www.bloomberg.com/news/features/2018-10-31/closing-the-cash-gap-with-cryptocurrency">Closing the Cash Gap With Cryptocurrency</a></p>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-4">
            <img class="img-fluid" src="{{SITEURL}}/theme/images/media-img/logoDecrypt.webp">
        </div>
        <div class="col-8">
            <p class="bfont">2018</p>
            <p class="bfont"><a class="media-link" href="https://decrypt.co/2472/decentralizing-africa">A Mombasa slum looks to digital currency to escape poverty</a></p>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-4">
            <img class="img-fluid" src="{{SITEURL}}/theme/images/media-img/news24.webp">
        </div>
        <div class="col-8">
            <p class="bfont">2015</p>
            <p class="bfont"><a class="media-link" href="https://www.news24.com/news24/SouthAfrica/Local/East-Griqualand-Fever/Community-currency-pioneer-talks-to-business-owners-20150521">Community currency pioneer talks to business owners</a></p>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-4">
            <img class="img-fluid" src="{{SITEURL}}/theme/images/media-img/yes.webp">
        </div>
        <div class="col-8">
            <p class="bfont">2015</p>
            <p class="bfont"><a class="media-link" href="http://www.yesmagazine.org/commonomics/alternative-currencies-bigger-than-bitcoin-bangla-pesa-brixton">Alternative Currencies Are Bigger Than Bitcoin: How They’re Building Prosperity From London to Kenya</a></p>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-4">
            <img class="img-fluid" src="{{SITEURL}}/theme/images/media-img/christianlogo.webp">
        </div>
        <div class="col-8">
            <p class="bfont">2014</p>
            <p class="bfont"><a class="media-link" href="https://www.csmonitor.com/World/Africa/2014/0603/In-Mombasa-Africa-s-first-alternative-currency-helps-Kenyans-fight-poverty">Africa's 'First' Alternative Currency</a></p>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-4">
            <img class="img-fluid" src="{{SITEURL}}/theme/images/media-img/standarddig.webp">
        </div>
        <div class="col-8">
            <p class="bfont">2014</p>
            <p class="bfont"><a class="media-link" href="https://www.standardmedia.co.ke/business/adblock?u=https://www.standardmedia.co.ke/business/news/article/2000104244/bangla-pesa-makes-huge-comeback-after-court-battle">Bangla-Pesa Comeback</a></p>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-4">
            <img class="img-fluid" src="{{SITEURL}}/theme/images/media-img/algezeera.webp">
        </div>
        <div class="col-8">
            <p class="bfont">2013</p>
            <p class="bfont"><a class="media-link" href="http://america.aljazeera.com/watch/shows/america-tonight/america-tonight-blog/2013/11/29/community-currencybanglapesawillruddick.html">Kenyan slum embraces alternative currency</a></p>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-4">
            <img class="img-fluid" src="{{SITEURL}}/theme/images/media-img/ktnews.webp">
        </div>
        <div class="col-8">
            <p class="bfont">2013</p>
            <p class="bfont"><a class="media-link" href="https://www.kenya-today.com/news/governor-joho-reopens-bangla-pesa">Mombasa Governor Joho reopens Bangla-Pesa</a></p>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-4">
            <img class="img-fluid" src="{{SITEURL}}/theme/images/media-img/bookings.webp">
        </div>
        <div class="col-8">
            <p class="bfont">2013</p>
            <p class="bfont"><a class="media-link" href="https://www.brookings.edu/blog/up-front/2013/07/17/bangla-pesa-slum-currency-and-implications-for-the-poor-in-developing-countries/">Bangla-Pesa Currency</a></p>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-4">
            <img class="img-fluid" src="{{SITEURL}}/theme/images/media-img/thestar.webp">
        </div>
        <div class="col-8">
            <p class="bfont">2013</p>
            <p class="bfont"><a class="media-link" href="https://www.the-star.co.ke/news/2013/06/05/bangla-pesa-the-use-of-alternative-currency-in-kenya_c783357">Alternative Currency Usage</a></p>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-4">
            <img class="img-fluid" src="{{SITEURL}}/theme/images/media-img/huffpost.webp">
        </div>
        <div class="col-8">
            <p class="bfont">2013</p>
            <p class="bfont"><a class="media-link" href="https://www.huffpost.com/entry/the-crime-of-alleviating-_b_3519858">The Crime of Alleviating Poverty</a></p>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-4">
            <img class="img-fluid" src="{{SITEURL}}/theme/images/media-img/quartz.webp">
        </div>
        <div class="col-8">
            <p class="bfont">2013</p>
            <p class="bfont"><a class="media-link" href="https://qz.com/86618/introducing-the-bangla-pesa-kenyas-beautiful-new-complementary-currency/">Introducing Bangla-Pesa</a></p>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-4">
            <img class="img-fluid" src="{{SITEURL}}/theme/images/media-img/blorge.webp">
        </div>
        <div class="col-8">
            <p class="bfont">2013</p>
            <p class="bfont"><a class="media-link" href="https://archive.is/2012.07.08-204121/http://green.blorge.com/2010/09/the-eco-pesa-is-kenyas-answer-to-the-green-america-exchange/">Kenya’s answer to the Green America Exchange</a></p>
        </div>
    </div>
    <div class="black-line"></div>
    <div class="row pt-5">
        <div class="col-6">

        </div>
        <div class="col-6">

        </div>
    </div>
</div>
{% endblock %}
