{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{SITEURL}}/theme/css/research.css">

{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="re-img-container">
        <img class="img-fluid re-img" src="{{SITEURL}}/theme/images/research-imgs/research-img1.webp">
        <h1 class="research-heading">Research</h1>
    </div>
    <div class="container research-container pt-5">
        <div class="re-center-this">
            <p>We do regular monitoring and evaluation on the impact of our programs and collaborate with researchers
                from around the world. Data is collected through digital (blockchain-based) transaction data, journals
                and surveys of people using and not using Community Currencies.</p>
            <p>Data definitions can be found <a class="re-link"
                                                href="https://gitlab.com/grassrootseconomics/cic-docs/-/blob/master/TransactionDatasets.md">here</a>
                and datasets can be downloaded below.</p>
        </div>
        <div class="d-flex justify-content-center re-dataset-buttons">
            <a class="dataset-download" href="{{SITEURL}}/theme/datasets/POA_sarafu_tx_and_users_all_pub_2018-201.zip"
               download="POA_sarafu_tx_and_users-2018">2018-2019 POA Blockchain Data</a>
            <a class="dataset-download" href="{{SITEURL}}/theme/datasets/Sarafu_xdai_data_July_13_2021.zip"
               download="POA_sarafu_tx_and_users-2018">2020-July 13 2021 DAI Blockchain Data</a>
        </div>
        <div class="d-flex justify-content-center pb-5 re-inline-buttons">
            <a class="re-buttons" href="#">Published Research Papers</a>
            <a class="re-buttons" href="https://play.grassecon.org/">Demo CIC Creation</a>
            <a class="re-buttons" href="https://dashboard.sarafu.network/">CIC Data Dashboard</a>
            <a class="re-buttons" href="https://gitlab.com/grassrootseconomics/cic-docs">White paper&docs&code</a>
        </div>
        <div class="blue-section pt-5 pb-5">
            <div class="list-section">
                <ul>
                    <li>Design</li>
                    <ul>
                        <li>What do communities need to unlock and direct their collective capacity?</li>
                        <ul>
                            <li>What does a post scarcity society look like?</li>
                            <li>How can variations on currency design support community abundance and harmony with their
                                environment and other communities?
                            </li>
                            <li>Ideology and ethics - Why develop a community currency? (For each part of the
                                infrastructure and various implementers.)
                            </li>
                        </ul>
                    </ul>
                    <li>Development</li>
                    <ul>
                        <li>How can community currencies and their infrastructure be developed and managed?</li>
                        <li>How are communities fully empowered and sovereign in their choices?</li>
                        <li>What regulatory frameworks can be used?</li>
                        <li>How to achieve institutional integration - Humanitarian orgs, chamas (community groups),
                            schools, shops, govt. Financial Institution, Faith based organizations, etc
                        </li>
                        <li>Network visualization and analytics that help understand, react to and manage CIC systems
                        </li>
                        <ul>
                            <li>Predictive and Agent based modelling</li>
                        </ul>
                        <li>How can people and institutions outside of a community interact with the local community?
                            Aid distribution - redistribute taxes? (voting, algo, etc) ... Also in what medium: Capacity
                            building, in-kind, cash, stable tokens, etc
                        </li>
                    </ul>
                    <li>Understanding:</li>
                    <ul>
                        <li>What are the impacts from pilots and trials? - short and long term effects of such programs
                            like <a class="re-link" href="{{SITEURL}}/pages/sarafu-network.html">Sarafu Network.</a>
                        </li>
                        <li>What characteristics cause community currencies of different designs and communities to have
                            different impacts?
                        </li>
                    </ul>
                </ul>
                <div class="re-center-this">
                    <p><a class="re-link" href="{{SITEURL}}/pages/contact-us.html">We love to get feedback and link to
                        studies!</a></p>
                </div>
            </div>
        </div>
        <div class="crisis-response">
            <div class="d-flex">
                <div class="me-auto">
                    <p class="re-small-font bold-font">Community Currencies as Crisis Response</p>
                    <p class="re-small-font">Results from a Randomized Control Trial in Kenya</p>
                    <p class="re-small-font">2021 Rebecca Mqamelo</p>
                    <a class="re-link"
                       href="https://1fce7114-8e4a-43c5-bcbd-d2b877364fde.filesusr.com/ugd/2fc0ed_224126ea289648fba1d0c1e0ca8b406d.pdf">(download
                        pdf)</a>
                </div>
            </div>
            <div class="abstract pt-5">
                <p class="re-small-font">Abstract:</p>
                <p class="re-small-font">In 2020, Grassroots Economics’ Community Inclusion Currency (CIC) model was adopted by the Kenya Red
                    Cross as a humanitarian response to the Covid-19 pandemic. This paper presents the results of what
                    may be the world’s first randomized control trial in this area. Unlike most cash transfer programs,
                    recipients are sent cryptocurrencies rather than cash or mobile money, enabling an unprecedented
                    level of impact evaluation. Results show that CIC transfers of $30 are associated with $93.51
                    increase in beneficiaries’ wallet balance, a $23.17 increase in monthly income, a $16.30 increase in
                    monthly spending, a $6.31 increase in average trade size and a $28.43 increase in expenditure on
                    food and water. However, the difference in treatment effects for males versus females suggests
                    gender imbalances persist. This study serves as an important prototype for cash transfer models that
                    keep money flowing locally and support bottom-up economic resilience.</p>
            </div>
        </div>
        <div class="re-articles">
            <div class="article">
                <p class="re-small-font bold-font">Red Cross Mukuru Kayaba Rapid Survey Analysis May 2020</p>
                <p class="bold-font">CIC: Mukuru Kayaba Rapid Survey Analysis - brief.</p>
                <p>Date of analysis:25th to 30th May 2020<br>
                    Area of survey: Mukuru Kayaba (Pop. 83,000) (Pop of Sarafu users 4000)<br>
                    Number of respondent: Female 391, Male 228 Total: 619<br>
                    Goal: To understand the impact of Sarafu and give qualitative understanding of the statistics for users.</p>
                <div class="d-flex justify-content-start pt-3 pb-5">
                    <a class="click-here">Click here</a>
                </div>
                <div class="bottom-line"></div>

            </div>
        </div>
    </div>
</div>

{% endblock %}