{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{SITEURL}}/theme/css/sarafu-net.css">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row bck-light-color">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="sarafu-box">
                <h1 class="sarafu-title center-content">Sarafu.Network </h1>
                <p class=" sarafu-p center-content">Grassroots Economics is building and supporting systems 
			that empower communities to create their own financial systems based on local goods 
			and services in regional markets that are built from the ground up. 
			<a href="https://sarafu.network">Sarafu.Network</a> 
			is an open source community run decentralized application that connects people to the 
			Celo distributed ledger in order to develop Economic Commons.</p>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 ">
            <img class="img-fluid img-pad-custom" src="{{SITEURL}}/theme/images/sarafu-imgs/sarafu-img1.webp">
        </div>
    </div>
    <div class="row flex-column-reverse flex-md-row bck-dark-color">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="sarafu-box">
                <p class="white-font center-content">Celo Distributed ledger technology provides underlying protocols 
			to secure user accounts and USSD technology enables any cell phone (even without internet) 
			to have access. 
			<a href="https://docs.grassecon.org/software/">Read about our Open source software and Celo blockchain.</a>
		</p>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <img class="img-fluid sarafu-img" src="{{SITEURL}}/theme/images/sarafu-imgs/sarafu-img2.webp">
        </div>

    </div>
    
    <hr class="saf-line-span">
</div>
{% endblock %}
