{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{SITEURL}}/theme/css/sarafu-net.css">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row bck-light-color">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="sarafu-box">
                <h1 class="sarafu-title center-content">Sarafu.Network </h1>
                <p class=" sarafu-p center-content">Grassroots Economics' is building and supporting systems that empower communities to digitally create their own financial systems based on local goods and services in regional markets that are built from the ground up. Sarafu Network is the premier CIC system in Kenya.</p>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 ">
            <img class="img-fluid img-pad-custom" src="{{SITEURL}}/theme/images/sarafu-imgs/sarafu-img1.webp">
        </div>
    </div>
    <div class="row flex-column-reverse flex-md-row bck-dark-color">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="sarafu-box">
                <p class="white-font center-content">Distributed ledger technology provides underlying protocols to secure user accounts and USSD technology enables any cell phone (even without internet) to have access. <a href="https://docs.grassecon.org/software/">Read about our Open source software and blockchain.</a></p>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <img class="img-fluid sarafu-img" src="{{SITEURL}}/theme/images/sarafu-imgs/sarafu-img2.webp">
        </div>

    </div>
    <div class="container sarafu-container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img class="img-fluid" src="{{SITEURL}}/theme/images/sarafu-imgs/sarafu-img3.webp">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h2>Sarafu-Network</h2>
                <ol>
                    <li>Sarafu-Network infrastructure is supported by service fees and humanitarian orgs and allows anyone to access the network.</li>
                    <li>The more that vouchers on Sarafu-Network circulate the more it builds resilient local economies and support vulnerable households.</li>
                    <li>Gradual expiration of Vouchers encourage users to keep the economy moving. These expired vouchers are renewed and collected by Voucher issuers to support reissuance and keep a stable supply.</li>
                    <li>UsersAnonymous Voucher trade data can give Humanitarian organizations a way to identify weak spots for capacity building and support communities for their measurable impacts.</li>
                    <li>Note that Voucher issuers are required to redeem vouchers for their goods or services not Kenyan shillings.</li>
                </ol>
            </div>
        </div>
        <ul>
          <li>Sarafu (SRF or 'Currency' in Kiswahili) is a voucher issued by Grassroots Economics Foundation. The total Sarafu supply in 2022 is close to ~16 Million and grows as people and groups join the network.</li>
	  <li>SRF can be redeemed as payment for services from Grassroots Economics such as creating your own voucher as well as training.
          <li>In Kenya dial <strong>*384*96# (Safaricom) *483*46# (Airtel)</strong> to get 5 SRF and talk with our team +254-(0)757628885.</li>
          <li>GE also sends SRF to people for their impacts in supporting the network. There is no cost to join. The Sarafu for these weekly distributions as well as initial allotments are refilled from a holding fee of 2% of your Sarafu each month.</li>
        </ul>
        <div class="row pt-3">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h2>Create your own Voucher and build your own Community Inclusion Currency (CIC)</h2>
                <ol>
                    <li>An organization or community group identifies projects and productive capacity (goods and services) that will back their Voucher which will act as a mutual credit for that community.</li>
                </ol>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
               <img class="img-fluid" src="{{SITEURL}}/theme/images/sarafu-imgs/sarafu-img5.webp">
            </div>
        </div>
        <div class="row flex-column-reverse flex-md-row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img class="img-fluid" src="{{SITEURL}}/theme/images/sarafu-imgs/sarafu-img6.webp">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h2 class="padd-top">The full Sarafu Network</h2>
                <ol>
                    <li>Sarafu (SRF) acts as a basic income while also providing infrastructure for people to connect their Vouchers together</li>
                    <li>Users can exchange various Vouchers (CICs) among each other so communities can create support networks among themselves.</li>
                </ol>
            </div>
        </div>
        <div class="next-steps">
            <div class="center-content saf-width">
                <a class="saf-link-style" href="{{SITEURL}}/pages/get-involved.html">You can support the growth of Community Currencies and resilient local economies by becoming part of our team and supporting Sarafu-Network!</a>
            </div>
            <div class="center-content last-img">
                <img class="img-fluid saf-img-style" src="{{SITEURL}}/theme/images/sarafu-imgs/sarafu-img7.webp">
            </div>
        </div>
    </div>
    <hr class="saf-line-span">
</div>
{% endblock %}
